.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python / Conda (recomendado)
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

# Entornos
env/
venv/
.venv/
conda-meta/

# Variables de entorno
.env

# VS Code
.vscode/
